<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="contactform"  action="/mail" name="contactform" method="post">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="email"><br><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="name" name="comments" ><br>
      <button type="submit" value="SEND" id="submit">Send</button>
  </form>
  </body>
</html>